syncany-website
syncany/build
syncany/dist
nautilus-syncany/build
nautilus-syncany/dist
derby.log
syncany/nbproject/private/private.properties
syncany/nbproject/project.properties
syncany/nbproject/build-impl.xml
windows-syncany/x64
windows-syncany/Debug
windows-syncany/windows-syncany.sdf
windows-syncany/windows-syncany.suo
*.user
windows-syncany/SyncanyExt/Debug
windows-syncany/SyncanyExt/x64
syncany/classes/
syncany/nbproject/genfiles.properties

syncany/nbproject/private
private
